$halfwhite: rgba(255, 255, 255, 0.5);
$quarterwhite: rgba(255, 255, 255, 0.25);
$halfblack:rgba(0, 0, 0, 0.5);
$quarterblack:rgba(0, 0, 0, 0.25);
$pink:#DBC1D5;
$beige:#DDD8D8;
$halfpink: rgba(219, 193, 213, 0.5);
$halfbeige: rgba(221, 216, 216, 0.5);